
@import "variable.styl";   // [  2-1.0 引入通用样式   ]

body, html
    line-height: 1
    font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', arial, sans-serif, 'Droid Sans Fallback'
    user-select: none
    -webkit-tap-highlight-colo: transparent
    background: $color-background
    color: $color-text   // [  2-1.4 ] 字体样式颜色